<div class="animated fadeInRight bgac">
    <div class="icon">
        <div class="icon-box">
            <div class="iconImg">
                <div class="iconImgs">
                    <img src="{{user.headimgurl}}" alt="">
                </div>
            </div>
            <div class="id">编号:<span>{{user._id.substring(0,6)}}</span></div>
            <p class="name">
                <span>{{user.nickname}}</span>
                <span [ngSwitch]="user.sex" class="sex">
                    <p *ngSwitchCase="1">
                            <img src="/assets/man.png" alt="性别男">
                    </p>
                    <p *ngSwitchCase="2">
                            <img src="/assets/woman.png" alt="性别女">
                    </p>
                    <p *ngSwitchDefault>
                            <img src="/assets/sex.png" alt="性别">
                    </p>
                </span>
            </p>
        </div>
    </div>
    <div class="zuobi">
        <p>————作弊会员公式————</p>
        <span>小虾米`</span>
        <span>月是故乡明</span>
        <span>好好先生`</span>
        <span>毕竟我不是你`</span>
        <span>coiier`</span>
        <span>金鱼的7秒记忆里`</span>
    </div>
    <div class="yue">
        <b>￥{{user.totalMoney | money}}</b>
        <span style="font-size:12px;"> <b *ngIf="msg">{{msg}}</b></span>
    </div>
    <div style="background:#fff;">
        <div class="tixianfangshi1">
            <div class="tixian-form">
                <label for="">提现金额:</label>
                <input type="number" (change)="money=moneyInput.value" #moneyInput placeholder="满1元就可提现,即时到帐(●'◡'●)" min="0" max="999" step="0.001">
            </div>
        </div>
        <div class="tixianfangshi2" (click)="getMoneyRequest()">
            <button>提现</button>
        </div>
    </div>
</div>
<a routerLink="/share/full-info" *ngIf="user.isFinish">
    <div class="tishi">
        温馨提示:完善个人信息后才能提现哟！~
    </div>
</a>